/* 
    -- Responsive Web Design Principles -- 
    1) Fluid Layouts
        - allow webpage to adapt to current viewport width/height
        - use % (or vh/vw) unit instead of px for elements that should adapt to the viewport
        - use max-width instead of width

    2) Responsive Units
        - Use rem unit instead of px for most lengths to make it easy to scale the entire layout down or up automatically 
        - Tip: setting 1rem to 10px for easy calculations

    3) Flexible Images
        - By default, images don't scale automatically as we change the viewport, so we need to change it 
        - Always use % for image dimensions, together with the max-width property

    4) Media Queries
        - Bring resposive sites to life
        - Change CSS styles on certain viewport widths (also known as breakpoints)
        - Different looks to the website for different types of devices 

    ** doing any of these on its' own is useless, everything works together and must start from the top down. 

    -- Desktop or Mobile first? -- 
    People are more likely to visit a website on a phone more than a desktop...therefore mobile is the most important. However, going desktop to mobile is a viable process. Once you are accustomed with CSS you can go mobile to desktop, which will end up being an easier method. 

    -- REM and Max-Width -- 
    When max-width is used, the element will take up the given width when the size of the viewport exceeds it. However, as soon as the viewport becomes smaller than the given width, the element will decrease in size with it. 
    
    1 REM = 16px by default! The beauty of using rem is that you can actually change the value of 1 rem and change every single element that uses rem units at once. instead of px where you have to change every element 

    USABILITY: if we set the font-size to a fixed value (10px) in the html element, this sets up the possibilty of future issues if a user needs to decrease/increase their font size for visibility purposes. Therefore, we use percentages to change along with the size of the user's browser 

    10px - > 16px can be calculated by doing 10/16 which equals 62.5%. So we use this now in our html element
    
    

/******************************/
/* CUSTOMER COMPONENT */
/******************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* by doing this, we now set the rem unit to = 10px, easier conversion */
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  position: relative;
}
.customer-container {
  margin-top: 6.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.customer-images {
  display: flex;
}

.customer-images img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #fdf2e9;
}
.customer-images img:last-child {
  margin: 0;
}
.customer-text {
  font-size: 1.4rem;
}

.customer-text span {
  font-weight: 700;
  color: #cf711f;
}

/******************************/
/* HEADER */
/******************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fae5d3;
  /* keeping height fixed; making nav sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2rem;
}

/******************************/
/* NAVIGATION */
/******************************/

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}

/* make sure links are always inline blocks */
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

/* in english: only do this if
main-nav-link and nav-cta are in an 
element together! */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  background-color: #e67e22;
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  color: white;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/******************************/
/* FEATURED SECTION */
/******************************/

.section-featured {
  padding: 4.8rem 0 1.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  /* i just want to add a comment here */
}

.logos img {
  display: inline-block;
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
}
/******************************/
/* HOW IT WORKS SECTION */
/******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-image-box img {
  width: 40%;
}

.step-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* psuedo elements don't work on images... */

.step-image-box::before,
.step-image-box::after {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-image-box::before {
  width: 60%;
  /* height doesn't work here */
  /* height will be 0 */
  /* use padding in order to get a 'fake' height */
  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #fdf2e9;
}

.step-image-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #f8d8bd;
  z-index: -1;
}

/******************************/
/* MEALS */
/******************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  /* this makes the box shadow a little more subtler */
  /* shadow goes closer to the light  */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.05);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-content {
  padding: 2.4rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-image {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  /* new keyword currentColor */
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  /* use transparent to keep the 1px  */
  border-bottom: 1px solid transparent;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/******************************/
/* TESTIMONIALS */
/******************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  /* fr's can add up to 100 to have the same height */
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  /* line-height has no units after while letter-spacing does */
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-constomer {
  font-size: 1.6rem;
  color: #777;
}

/* IMAGES ARE INLINE ITEMS, MAKE THEM BLOCK */
/* LINKS NEED PSUEDO CLASS */
/* DISPLAY INLINE BLOCK GIVES PADDING/HEIGHT TO ITEMS THAT ARENT */
/* Gallery images */
.gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-img {
  display: block;
  transition: all 0.4s;
  width: 100%;
}

.gallery-img:hover {
  transform: scale(1.2);
}

/******************************/
/* PRICING */
/******************************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  color: #222;
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  color: #6f6f6f;
  line-height: 1.6;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}
.pricing-plan-complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "best value";
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 6rem;
  top: 6%;
  right: -13%;
  transform: rotate(45deg);
  text-transform: uppercase;
  background-color: #ffd43b;
}
.pricing-plan-starter {
  border: 2px solid #fdf2e9;
}
.pricing-plan:first-child {
  justify-self: end;
}

.feature-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 1.2rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 3.4rem;
  font-style: italic;
}

/******************************/
/* call to action */
/******************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
}
